* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.desc {
    margin: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.desc p {
    width: 50%;
}

header {
  background-image: url("https://minecraft-exchange-public.s3.amazonaws.com/static/img/devnics/header.234b48e15df1.jpeg");
  padding: 5%;
  text-align: center;
}

.voting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
  max-width: 1500px;
}

.voting-box {
  background-color: black;
  color: #ff6b00;
  border: 2px #ff6b00 solid;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.voting-box button {
  margin-top: 1%;
  padding: 2%;
  background-color: black;
  color: #ff6b00;
  border: 2px #ff6b00 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

img {
    width: 10%;
}

@media(max-width: 600px) {
    .desc {
        margin: 5%;
    }

    .desc p {
        width: 80%;
    }

    header {
        padding: 15%;
    }
}